<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
            <button style="background-color:#FFE6FA;width:240px;border-radius:30px;">
                <a href="http://localhost:3005/findproduct"
                    style="text-decoration: none;color:black;font-size:15px;font-weight:bold">Product page</a>
            </button>
            <a href="/logout" class="btn btn-danger">
                logout
            </a>
        </div>
    </div>
</nav>


<form action="/product" method="post" id="productcreate">
    <input class="product" id="product" type="product" placeholder="product" name="product" required>
    <br><br>
    <input class="product-type" type="product-type" placeholder="Product-type" id="product-type" name="product-type"
        required>
    <br><br>
    <button style="margin-left: 50px;width: 240px;" class="login">submit</button>
</form>



<script>
    const data = { name: 'Sample' };
    const deletebtn = document.getElementById('delete');
    const baseurl = 'http://localhost:3005/delete'

    deletebtn.addEventListener('click', deleteinfo)

    async function deleteinfo(e) {
        e.preventDefault()
        const requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        };

        const response = await fetch(baseurl, requestOptions)
            .then(response => {
                console.log(response)
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
    }
</script>